:root {
  --clr-White: hsl(0, 0%, 100%);
  --clr-Slate-300: hsl(212, 45%, 89%);
  --clr-Slate-500: hsl(216, 15%, 48%);
  --clr-Slate-900: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--clr-Slate-300);

  gap: 20px;
}

.main_container {
  width: 320px;
  height: 500px;
  background-color: var(--clr-White);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 16px 16px 40px 16px;
  border-radius: 20px;
}

.main_text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}

h2 {
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
}

p {
  font-size: 15px;
  line-height: 140%;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: var(--clr-Slate-500);
}

/* IMAGE */

figure {
  width: 288px;
  height: 288px;
  margin-bottom: 24px;
}

figure img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: fill;
}
